body{
  /* background-color: #9cdae0; */
}

.error{
  color: rgb(210, 45, 45);
}

.btn-primary {
  color: #fff;
  background-color:#00A7B5;
  border-color: #00A7B5; 
  --bs-btn-focus-shadow-rgb:none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #9cdae0;
  border-color: #9cdae0;
}
.form-check-input:checked {
  background-color: #00A7B5;
  border-color: #00A7B5;
}
.big_circle{
  background-color: #44abbd;
    /* width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 10px; */
}
.item_in_circle{
  color:#00A7B5;
  width: 50%;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  
}
.item_in_circle :hover{
   color:#9cdae0;
  }


a{
  color: #000000;
  font-weight: 200;
}
a :hover{
  font-weight: 400;
}
